{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

    <!-- Heading page -->
    <section class="heading-page">
        <img src="{% static 'Banner.jpg' %}" alt="">
        <div class="container">
            <div class="heading-page-content">
                <div class="au-page-title">
                    <h1>Регистрация пользователя!</h1>
                </div>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Домашняя страница</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Ввойти в личный кабинет</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <!-- Contact us -->
    <section class="contact-us">
        <div class="container">
          {% if error %}
          {{ error }}
          {% endif %}
          {% if info %}
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
          <p class=&#8221;treeHugger&#8221;>{{ info }}</p>
          {% endif %}
            <div class="contact-us-content">
                <div class="row">
                        <div class="contact-form">
                            <div class="leave-comment">
                                <div class="box-title">
                                    <h3 class="title">Введите ваши данные для авторизации</h3>
                                </div>
                                <div class="comment-form">
                                    <form method="POST" action="{% url 'login' %}">
                                      {% csrf_token %}
                                        <div class="form-input">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="wrap-group">
                                                      <i class="fas fa-user"></i>
                                                      <input type="text" name="username" placeholder="Ваш username" required>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                    <div class="wrap-group">
                                                      <i class="fas fa-user"></i>
                                                      <input type="password" name="password" placeholder="Ваш пароль" required>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="wrap-group">
                                            <input type="submit" class="btn-submit" value="Ввойти">
                                        </div>
                                    </form>
                                    <div class="container">
                                      <a href="{% url 'password_reset_recover' %}">Забыли пароль?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
