{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

    <!-- Heading page -->
    <section class="heading-page">
        <img src="{% static 'Banner.jpg' %}" alt="">
        <div class="container">
            <div class="heading-page-content">
                <div class="au-page-title">
                    <h1>Установка нового пароля</h1>
                </div>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'login' %}">Сброс пароля</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Установка нового пароля</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <!-- Contact us -->
    <section class="contact-us">
        <div class="container">
          {% if error %}
          {{ error }}
          {% endif %}
          {% if info %}
          <p class=&#8221;treeHugger&#8221;>{{ info }}</p>
          {% endif %}
            <div class="contact-us-content">
                <div class="row">
                        <div class="contact-form">
                            <div class="leave-comment">
                                <div class="box-title">
                                    <h3 class="title">Введите пожалуйста новый пароль и подтвердите его.</h3>
                                </div>
                                <div class="comment-form">
                                    <form method="POST" action="{% url 'passwordchange' %}">
                                      {% csrf_token %}
                                        <div class="form-input">
                                          <div class="row">
                                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                  <div class="wrap-group">
                                                      <i class="fas fa-lock"></i>
                                                      <input type="password" name="password1" placeholder="Придумайте пороль" required>
                                                  </div>
                                              </div>
                                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                  <div class="wrap-group">
                                                      <i class="fas fa-lock"></i>
                                                      <input type="password" name="password2" placeholder="Подтвердите пороль" required>
                                                  </div>
                                              </div>
                                          </div>
                                        </div>
                                        <div class="wrap-group">
                                            <input type="submit" class="btn-submit" value="Сменить пароль">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
