{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

    <!-- Heading page -->
    <section class="heading-page">
        <img src="{% static 'Banner.jpg' %}" alt="">
        <div class="container">
            <div class="heading-page-content">
                <div class="au-page-title">
                    <h1>Регистрация пользователя!</h1>
                </div>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Домашняя страница</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Регистрация</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <!-- Contact us -->
    <section class="contact-us">
        <div class="container">
          {% if error %}
          {{ error }}
          {% endif %}
          <ul class="messages">
              {% for errorvalid in errorvalids %}
              <li>{{ errorvalid }}</li>
              {% endfor %}
          </ul>
            <div class="contact-us-content">
                <div class="row">
                        <div class="contact-form">
                            <div class="leave-comment">
                                <div class="box-title">
                                    <h3 class="title">Зарегиструйтесь сейчас бесплатно!</h3>
                                </div>
                                <div class="container">
                                  <div class="row">
                                    <div class="col">
                                      <div class="comment-form">
                                        <div class="form-heading">
                                            <p>И получите более 100 онлайн курсов!<p>
                                        </div>
                                          <form method="POST" action="{% url 'signup' %}">
                                            {{ form.non_field_errors }}
                                            {% csrf_token %}
                                              <div class="form-input">
                                                  <div class="row">
                                                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                          <div class="wrap-group">
                                                              <i class="fas fa-user"></i>
                                                              <input type="text" name="username" placeholder="Ваш username" required>
                                                          </div>
                                                      </div>
                                                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                          <div class="wrap-group">
                                                              <i class="fas fa-envelope"></i>
                                                              <input type="email" name="email" placeholder="Ваш Email" required>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="row">
                                                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                          <div class="wrap-group">
                                                              <i class="fas fa-lock"></i>
                                                              <input type="password" name="password1" placeholder="Придумайте пороль" required>
                                                          </div>
                                                      </div>
                                                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                          <div class="wrap-group">
                                                              <i class="fas fa-lock"></i>
                                                              <input type="password" name="password2" placeholder="Подтвердите пороль" required>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="wrap-group">
                                                  <input type="submit" class="btn-submit" value="Зарегистрироваться">
                                              </div>
                                          </form>
                                      </div>
                                    </div>
                                    <div class="col">
                                      <h4>Для защиты вашей учетной записи пороль должен быть следующий:</h4>
                                      <li> Пароль должен содержать как минимум 9 символов </li>
                                      <li> Пароль должен содержать хотя бы одну цифру либо одну букву </li>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
