{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

    <!-- Heading page -->
    <section class="heading-page">
        <img src="{% static 'Banner.jpg' %}" alt="">
        <div class="container">
            <div class="heading-page-content">
                <div class="au-page-title">
                    <h1>Создание курса!</h1>
                </div>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Домашняя страница</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Создание курса</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <!-- Contact us -->
    <section class="contact-us">
        <div class="container">
          {% if error %}
          {{ error }}
          {% endif %}
            <div class="contact-us-content">
                <div class="row">
                        <div class="contact-form">
                            <div class="leave-comment">
                                <div class="box-title">
                                    <h3 class="title">Заполните форму для создания курса</h3>
                                </div>
                                <div class="comment-form">
                                    <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
                                      {% csrf_token %}
                                        <div class="form-input">
                                            <div class="row">
                                                <div class="col-9">
                                                    <div class="wrap-group">
                                                      <label for="title">Наименование вашего курса:</label>
                                                      <input type="text" name="title" placeholder="Наименование курса" required>
                                                    </div>
                                                </div>
                                                <div class="col-9">
                                                    <div class="wrap-group">
                                                      <label for="discription">Краткое описание курса:</label>
                                                      <textarea name="discription" rows="8" cols="80" placeholder="Введите описание курса" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-9">
                                                    <div class="wrap-group">
                                                      <label for="mission">Целевая аудитория курса:</label>
                                                      <textarea name="mission" rows="8" cols="80" placeholder="Введите основные пререквизиты и необходимые навыки которыми должен обладать слушатель вашего курса" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-9">
                                                    <div class="wrap-group">
                                                      <label for="outcomes">Что получит слушатель курса:</label>
                                                      <textarea name="outcomes" rows="8" cols="80" placeholder="Введите какие навыки и знания получит слушатель курса" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-9">
                                                    <div class="wrap-group">
                                                      <label for="image">Прикрепите описательную картинку вашего курса:</label>
                                                      <input type="file" name="image" placeholder="Вложите картинку" required>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-9">
                                                    <div class="wrap-group">
                                                      <label for="isfree">Ваш курс бесплатный?</label>
                                                      <input type="checkbox" name="isfree" value="Бесплатный" checked>
                                                    </div>
                                                </div> -->

                                                <div class="col-9">
                                                    <div class="wrap-group">
                                                        <label for="price">Укажите желаемую цену за ваш курс в тенге:</label>
                                                        <input type="number" name="price" value="1000" min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency"/>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                        <div class="wrap-group">
                                            <input type="submit" class="btn-submit" value="Добавить курс">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
