<!DOCTYPE html>
<html lang="ru">

<head>
  {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DAZAMATO - online курсы программирования и Data Scince</title>

    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css-hamburgers/dist/hamburgers.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/slick/slick.css">
    <link rel="stylesheet" href="{% static 'fonts/line-awesome/css/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome-5/css/fontawesome-all.min.css' %}">

    <link rel="stylesheet" href="{% static 'vendor/revolution/layers.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/revolution/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/revolution/settings.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/revolution/settings-source.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/revolution/tp-color-picker.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fancybox/dist/jquery.fancybox.min.css' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'favicon_v2.png'%}">
</head>

<body>
    <!-- page load-->
    <div class="images-preloader">
        <div id="preloader_1" class="rectangle-bounce">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <!-- Header page -->
    <header class="header">
        <div class="header-top hidden-tablet-landscape">
            <div class="container">
                <div class="header-top-content display-flex">
                    <div class="logo">
                            <a href="{% url 'home' %}">
                              <img src="{% static 'logo_new_1.png'%}" height="120" width="120" class="d-inline-block align-top"  href="{% url 'home' %}"/>
                            </a>
                    </div>
                    <div class="header-top-info">
                        <a href="tel:87015733188" class="telephone"><i class="fas fa-mobile-alt"></i> +7(701)573 31 88</a>
                        <a href="mailto:dazamato@gmail.com" class="email"><i class="far fa-envelope"></i> dazamato@gmail.com</a>
                    </div>
                    <div class="header-top-account">
                        {% if user.is_authenticated %}
                        <a href="{% url 'profile' username=request.user.username %}" class="signup"><i class="fas fa-user"></i>{{ user.username }}</a>
                        <a href="javascript:{document.getElementById('logout').submit()}" class="logout"><i class="fas fa-sign-out-alt"></i>Выйти</a>
                        <a href="{% url 'create' %}" class="signup"><i class="fas fa-plus-square"></i>Создать курс</a>
                        <form id="logout" method="POST" action="{% url 'logout' %}">
                          {% csrf_token %}
                          <input type="hidden" />
                        </form>

                        {% else %}
                        <a href="{% url 'login' %}" class="login"><i class="fas fa-user"></i>Войти</a>
                        <a href="{% url 'signup' %}" class="signup"><i class="fas fa-edit"></i>Регистрация</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden-tablet-landscape-up header-mobile">
            <div class="header-top-mobile">
                <div class="container-fluid">
                    <div class="logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'logo_new_1.png'%}" alt="Edumat" height="100" width="100" class="d-inline-block align-top" />
                        </a>
                    </div>
                    <div class="search-box">
                        <form method="POST">
                            <input type="text" placeholder="Tìm kiếm" name="s" value="">
                            <div class="search-icon font-color-white display-flex-center">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </form>
                    </div>
                    <button class="hamburger hamburger--spin hidden-tablet-landscape-up" id="toggle-icon">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="au-nav-mobile">
                <nav class="menu-mobile">
                    <ul class="au-navbar-menu">
                         <ul class="au-navbar-menu">
                             {% if user.is_authenticated %}
                             <li class="menu-item curent-menu-item">
                                 <a href="{% url 'profile' username=request.user.username %}" class="signup"><i class="fas fa-user"></i>{{ user.username }}</a>
                             </li>
                             <li class="menu-item curent-menu-item">
                                 <a href="javascript:{document.getElementById('logout').submit()}" class="logout"><i class="fas fa-sign-out-alt"></i>Выйти</a>
                             </li>
                             <li class="menu-item curent-menu-item">
                                 <a href="{% url 'create' %}" class="signup"><i class="fas fa-plus-square"></i>Создать курс</a>
                             </li>
                             <li class="menu-item curent-menu-item">
                                 <form id="logout" method="POST" action="{% url 'logout' %}">
                                     {% csrf_token %}
                                     <input type="hidden" />
                                 </form>
                             </li>
                                 {% else %}
                             <li class="menu-item curent-menu-item">
                                 <a href="{% url 'login' %}" class="login"><i class="fas fa-user"></i>Войти</a>
                             </li>
                             <li class="menu-item curent-menu-item">
                                 <a href="{% url 'signup' %}" class="signup"><i class="fas fa-edit"></i>Регистрация</a>
                             </li>
                                 {% endif %}
            <div class="clear"></div>
            <div class="header-top">
                <div class="container-fluid">
                    <div class="header-top-content display-flex">
                        <div class="header-top-info">
                            <a href="tel:+77015733188" class="telephone"><i class="fas fa-mobile-alt"></i> +7(701)573 31 88</a>
                            <a href="mailto:dazamato@gmail.common" class="email"><i class="far fa-envelope"></i>dazamato@gmail.com</a>
                        </div>
                        <div class="header-top-account">
                          {% if user.is_authenticated %}
                          <a href="javascript:{document.getElementById('logout').submit()}" class="logout"><i class="fas fa-sign-out-alt"></i>Выйти</a>
                          <form id="logout" method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <input type="hidden" />
                          </form>
                          {% else %}
                          <a href="{% url 'login' %}" class="login"><i class="fas fa-user"></i>Войти</a>
                          <a href="{% url 'signup' %}" class="signup"><i class="fas fa-edit"></i>Регистрация</a>
                          {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <!-- Modal Video 01-->
    <div class="modal fade" id="modal-video-01">
        <div class="modal-dialog display-flex-center">
            <div class="modal-content bmd-modalContent">

                <div class="modal-body">

                    <div class="close-button">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"></iframe>
                    </div>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Footer page -->
    <footer class="footer">

        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-content">
                    <p class="copyright">Все права защищены {% now "Y" %} <span>ИП DAZAMATO</span>.</p>
                    <p class="copyright">Онлайн обучение программированию и Data Science</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Back to top -->
    <div id="back-to-top">
        <i class="fa fa-angle-up"></i>
    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/slick/slick.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.js' %}"></script>
    <script src="{% static 'js/isotope-docs.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEmXgQ65zpsjsEAfNPP9mBAz-5zjnIZBw"></script>
    <script src="{% static 'js/theme-map.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <script src="{% static 'vendor/waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>

    <!-- REVOLUTION JS FILES -->
    <script src="{% static 'vendor/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'vendor/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>

    <!-- SLICEY ADD-ON FILES -->
    <script src="{% static 'vendor/revolution/js/revolution.addon.slicey.min.js?ver=1.0.0' %}"></script>

    <script src="{% static 'js/config-contact.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
