.filter-gallery {
    @extend list-type-ulli;
    margin-bottom: 60px;
    li {
        span {
            font-family: 'Roboto Slab';
            font-size: 18px;
            font-weight: bold;
            margin: 8px 17px;
            padding: 0;
            padding-bottom: 5px;
            border: none;
            background: transparent;
            outline: none;
            cursor: pointer;
        }
        .is-checked {
            border-bottom: 2px solid $yellow-primary;
            color: #333;
        }
    }
}

.gallery {
    margin-bottom: -10px;
}

.gallery-grid {
    padding: 0 10px;
    .item {
        margin: 0 -10px;
        margin-bottom: 10px;
        figure {
            position: relative;
            .zoom {
                width: 55px;
                height: 55px;
                @include border-radius(50%);
                background: #fff;
                opacity: 0;
                z-index: 99;
                @include transition(all 0.5s);
                i {
                    font-size: 18px;
                    color: $black-title;
                }
            }
            a {
                &:before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    content: "";
                    background: rgba(255, 160, 55, 0.8);
                    filter: alpha(opacity=0);
                    -ms-filter: "alpha(opacity=0)";
                    -webkit-opacity: 0;
                    -khtml-opacity: 0;
                    -moz-opacity: 0;
                    -ms-opacity: 0;
                    -o-opacity: 0;
                    opacity: 0;
                    @include transform(rotateY(0));
                    @include transition(all .4s ease-in-out);
                    z-index: 9;
                }
            }
            &:hover {
                .zoom {
                    opacity: 1;
                }
                a {
                    &:before {
                        filter: alpha(opacity=100);
                        -ms-filter: "alpha(opacity=100)";
                        -webkit-opacity: 1;
                        -khtml-opacity: 1;
                        -moz-opacity: 1;
                        -ms-opacity: 1;
                        -o-opacity: 1;
                        opacity: 1;
                        -ms-transform: rotateY(180deg);
                        -webkit-transform: rotateY(180deg);
                        transform: rotateY(180deg);
                    }
                }
            }
        }
    }
}
.gallery-mansory {
    counter-reset: grid-item;
    margin: 0 -5px;
}


/* clearfix */

.gallery-mansory:after {
    content: '';
    display: block;
    clear: both;
}


/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
    width: 33.333%;
}

.grid-item {
    float: left;
    margin-bottom: 10px;
    padding: 0 5px;
    figure {
        position: relative;
        .zoom {
            width: 55px;
            height: 55px;
            @include border-radius(50%);
            background: #fff;
            opacity: 0;
            z-index: 99;
            @include transition(all 0.5s);
            i {
                font-size: 18px;
                color: $black-title;
            }
        }
        a {
            &:before {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                content: "";
                background: rgba(255, 160, 55, 0.8);
                filter: alpha(opacity=0);
                -ms-filter: "alpha(opacity=0)";
                -webkit-opacity: 0;
                -khtml-opacity: 0;
                -moz-opacity: 0;
                -ms-opacity: 0;
                -o-opacity: 0;
                opacity: 0;
                @include transform(rotateY(0));
                @include transition(all .5s ease-in-out);
                z-index: 9;
            }
        }
        &:hover {
            .zoom {
                opacity: 1;
            }
            a {
                &:before {
                    filter: alpha(opacity=100);
                    -ms-filter: "alpha(opacity=100)";
                    -webkit-opacity: 1;
                    -khtml-opacity: 1;
                    -moz-opacity: 1;
                    -ms-opacity: 1;
                    -o-opacity: 1;
                    opacity: 1;
                    -ms-transform: rotateY(180deg);
                    -webkit-transform: rotateY(180deg);
                    transform: rotateY(180deg);
                }
            }
        }
    }
}

.grid-item img {
    display: block;
    max-width: 100%;
    width: 100%;
}

.fancybox-navigation {
    .disabled {
        display: none;
    }
}
  