{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Привет, я Азамат!</h1>
    <p class="lead text-muted">Меня зовут Азамат, я люблю моделировать аналитические модели и увлекаюсь Data Science!</p>
    <p>
      <a href="mailto:adanikov@icloud.com" class="btn btn-primary my-2">Напишите мне</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      {% for job in jobs.all %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" width="100%" height="225" src="{{ job.image.url }}" >
          <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg> -->
          <div class="card-body">
            <p class="card-text">{{ job.summary }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Features Courses -->
<section class="featured-course section-padding-large">
    <div class="container">
        <div class="section-title section-title-left section-title-m50">
            <h2>Featured Courses</h2>
        </div>
        <div class="featured-course-content">
            <div class="row">
              {% for course in courses.all %}
                <article class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 item">
                    <div class="item-thumb">
                        <a href="single-coursefree.html">
                            <img src="images/featured-courses-1.jpg" alt="">
                            <span class="price free">Free</span>
                            <span class="overlay"></span>
                        </a>
                        <div class="vote">
                            <a href="#"><i class="fas fa-search"></i></a>
                            <a href="#"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="feadtured-course-small">
                            <a href="#">
                                <img src="images/featured-courses-small-1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="info">
                        <a href="#" class="teacher">{{ course.instructor }}</a>
                        <h3 class="title">
                            <a href="single-coursefree.html">WordPress LMS Plugin LearnPress</a>
                        </h3>
                        <div class="desc">
                            <a href="#" class="comments"><i class="la la-comments"></i>25</a>
                            <a href="#" class="students"><i class="la la-group"></i>12</a>
                        </div>
                    </div>
                </article>
                {% endfor %}

            </div>
            <div class="viewall-btn">
                <a href="courses1.html" class="au-btn view-all">View All</a>
            </div>

        </div>
    </div>
</section>
{% endblock %}
