{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Привет, я Азамат!</h1>
    <p class="lead text-muted">Меня зовут Азамат, я люблю моделировать аналитические модели и увлекаюсь Data Science!</p>
    <p>
      <a href="mailto:adanikov@icloud.com" class="btn btn-primary my-2">Напишите мне</a>
    </p>
    <img src="{% static 'IMG_0476.jpeg'%}" height="300" class="rounded-circle" alt="Cinque Terre"/>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      {% for job in jobs.all %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" width="100%" height="225" src="{{ job.image.url }}" >
          <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg> -->
          <div class="card-body">
            <p class="card-text">{{ job.summary }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
